<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>🐱Cat Spotting🐱</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <nav>
            <% if (currentUser) { %>
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Log Out"/>
                </form>
            <% } else { %>
                <button type="button" name="button"><a href="/users/new">Sign Up</a></button>
                <button type="button" name="button"><a href="/sessions/login">Log In</a></button>
            <% } %>
        </nav>
