body {
    background-image: url('../img/background-texture.jpg');
    background-attachment: fixed;
    background-position: center;
    margin: 0 auto;
    font-family: 'Corben', cursive;
}

#title {
    background-color: rgba(188, 108, 43, 0.79);
    text-align: center;
    font-family: 'Fugaz One', cursive;
    font-size: 90px;
    text-shadow: 7px 7px 0 #BC6C25,
                 14px 14px 0 black;
    color: #FEFAE0;
    margin: 0;
    text-align: center;
    padding: 3px 0px 15px 0px;
    width: 100%;
}

.post-title, #new-title, #signup-title, #login-title {
    text-align: center;
    font-family: 'Fugaz One', cursive;
    font-size: 50px;
    text-shadow: 4px 4px 0 #FEFAE0,
                 8px 8px 0 #BC6C25;
    color: black;
    margin: 0;
}

#feed-title {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FEFAE0;
}

#submit-post {
    font-size: 30px;
    padding: 0 20px 0 20px;
}

.modify-submit {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

#filter {
    background-color: rgba(85, 83, 88, .45);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 500px;
    width: 500px;

}

#show-map {
    height: 250px;
    width: 550px;
}

#full-map {
    height: 700px;
    width: 100%;
}
#full-map a:hover{
    text-decoration: underline;
}

#feed {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.post, #edit, #new-post, #new-users, #new-signin {
    border: 10px solid #BC6C25;
    border-radius: 10px;
    margin: 30px auto;
    padding: 10px;
    max-width: 800px;
    width: 90%;
    background-color: #FEFAE0;
}

.post-cat {
    width: 50%;
}

.post-date {
    margin: 0;
    padding: 0;
    text-align: right;
}

.full-cat {
    width: 100%;
}

.map-cat {
    width: 100%;
}

.drop-menu {
    text-align: left;
    font-family: 'Assistant', sans-serif;
    color: #FEFAE0;
    text-shadow: 1px 1px 0 #BC6C25,
                 2px 2px 0 black;
    margin: 0;
    position: absolute;
    top: 124px;
    cursor: pointer;
    z-index: 2;
}

button {
    border: 5px solid #BC6C25;
    background-color: #FEFAE0;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    font-family: 'Corben', cursive;
    cursor: pointer;
}

.drop-menu button {
    width: 90%;
}

.drop-menu h3{
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
}

.menu-contents {
    display: flex;
    flex-direction: column;
}

a h3 {
    font-size: 20px;
}

.go-back:hover, a h3:hover {
    text-decoration: underline;
}

a {
    color: inherit;
}

a:active {
    color: #BC6C25;
}

.description {
    font-size: 20px;
}

.modify-buttons {
    display: flex;
}

.ui-accordion-content {
    box-shadow: 1px 10px 20px #6d6d6d;
    margin: 0;
    padding: 0;
    background-color: #DDA15E;
}

.commenter {
    margin: 0;
    padding: 0;
}

.comment-text{
    margin: 0;
    padding: 0;
}
