img {
    width: 45%;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 500px;
    width: 500px;
}

#show-map {
    height: 200px;
    width: 500px;
}
