<%- include('../partials/header.ejs') %>

<h1 id="signup-title">New User Sign Up</h1>
<form id="new-users" action="/users" method="POST">
    <fieldset>
        <label for="username">New Username</label>
        <input type="text" name="username" required>
    </fieldset>
    <fieldset>
        <label for="password">Password</label>
        <input type="password" name="password" required>
    </fieldset>
    <button type="submit">Create User</button>
</form>

<%- include('../partials/footer.ejs') %>
