<%- include('../partials/header.ejs') %>

<form action="/users" method="POST">
    <fieldset>
        <label for="username">New Username</label>
        <input type="text" name="username" required>
    </fieldset>
    <fieldset>
        <label for="password">Password</label>
        <input type="password" name="password" required>
    </fieldset>
    <button type="submit">Create User</button>
</form>

<%- include('../partials/header.ejs') %>
