<%- include('../partials/header.ejs') %>

<!-- Google Maps API JS Functions and Callback -->
<script type="text/javascript" async defer src="/js/posts/gmap-inits.js"></script>
<script type="text/javascript" async defer src="/js/posts/gmap-listeners.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&callback=newMap"></script>

<h1 id="new-title">New Post</h1>
<form id="new-post" action="/catspotting" method="POST">
    <fieldset>
        <label for="title">Title</label>
        <input type="text" name="title"/>
    </fieldset>
    <fieldset>
        <label for="description">Description</label>
        <textarea name="description"></textarea>
    </fieldset>
    <fieldset>
        <label for="location">Location Spotted</label>
        <input id="location" type="text" name="location"/>
        <button id="address-submit" type="button">Pin On Map</button>
        <div id="map"></div>
        <label for="latitude">Latitude</label>
        <input id="lat" type="text" name="latitude" READONLY/>
        <label for="longitude">Longitude</label>
        <input id="lng" type="text" name="longitude" READONLY/>
    </fieldset>
    <fieldset>
        <label for="img">IMG source</label>
        <input type="text" name="img" required>
    </fieldset>
    <div class="modify-submit">
        <button id="submit-post" type="submit">Post Cat!</button>
        <a class="go-back" href="/catspotting">Go Back</a>
    </div>
</form>

<%- include('../partials/footer.ejs') %>
