<%- include('../partials/header.ejs') %>

<h1>New Post</h1>
<p>From user <%= currentUser.username %></p>
<form action="/catspotting" method="POST">
    <fieldset>
        <label for="title">Title</label>
        <input type="text" name="title"/>
    </fieldset>
    <fieldset>
        <label for="description">Description</label>
        <input type="textarea" name="description"/>
    </fieldset>
    <fieldset>
        <label for="location">Location Spotted</label>
        <input id="location" type="text" name="location"/>
        <input id="address-submit" type="button" value="Pin On Map"/>
        <label for="latitude">Latitude</label>
        <input id="lat" type="text" name="latitude" READONLY/>
        <label for="longitude">Longitude</label>
        <input id="lng" type="text" name="longitude" READONLY/>
        <div id="map"></div>
    </fieldset>
    <fieldset>
        <label for="img">IMG source</label>
        <input type="textarea" name="img" required>
    </fieldset>
    <button id="submit-post" type="submit">Post Cat!</button>
</form>

<script type="text/javascript">

    function initMap() {
        //Google Map initializer
        const myLatlng = { lat: 39.34, lng: -99.14 };
        const map = new google.maps.Map(document.getElementById("map"), {
            gestureHandling: "greedy",
            zoom: 4,
            center: myLatlng
        });
        let latDisplay = document.getElementById("lat");
        let lngDisplay = document.getElementById("lng");
        
        let marker = new google.maps.Marker({
            position: myLatlng
        })
        marker.setMap(map);
        const geocoder = new google.maps.Geocoder();

        //Click on map listener
        map.addListener("click", (mapsMouseEvent) => {
            marker.setMap(null);
            marker = new google.maps.Marker({
                position: mapsMouseEvent.latLng
            });
            marker.setMap(map);
            latDisplay.value = mapsMouseEvent.latLng.toJSON().lat;
            lngDisplay.value = mapsMouseEvent.latLng.toJSON().lng;
                geocoder.geocode({ location: mapsMouseEvent.latLng}, (results, status) => {
                    if (status === "OK") {
                        if (results[0]) {
                            console.log(results[0]);
                            document.getElementById("location").value = results[0].formatted_address;
                        }
                    }
                });
            
        });

        //Geocoder text input listener
        document.getElementById('address-submit').addEventListener('click', () => {
            geocodeAddress(geocoder, map);
        });
        
        const geocodeAddress = (geocoder, resultsMap) => {
            const address = document.getElementById('location').value;
            geocoder.geocode({address: address}, (results, status) => {
                if (status === 'OK') {
                    marker.setMap(null);
                    resultsMap.setCenter(results[0].geometry.location);
                    resultsMap.setZoom(15);
                    marker = new google.maps.Marker({
                        position: results[0].geometry.location,
                    });
                    marker.setMap(map);
                    latDisplay.value = results[0].geometry.location.toJSON().lat;
                    lngDisplay.value = results[0].geometry.location.toJSON().lng;
                }      
            });
        };
    };
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&callback=initMap"></script>

<a class="go-back" href="/catspotting">Go Back</a>

<%- include('../partials/footer.ejs') %>
